footer
    .container
        .row

            // Information (telephone, email, credits)
            .col-md-4.col-sm-6.col-xs-12
                ul.footer-list
                    li
                        | T:&nbsp;
                        a(href="tel:+37067052501") (+370) 670 52501
                    li
                        | E:&nbsp;
                        a(href="mailto:p.kasiuba@gmail.com") paulius@kasiuba.lt
                    li © 2016 kasiuba.lt

            // Social media links
            .col-md-8.col-sm-6.col-xs-6
                ul.social-list
                    li
                        a(href="https://www.linkedin.com/in/paulius-kasiuba")
                            i.icon-linkedin
                    li
                        a(href="https://www.facebook.com/paulius.kasiuba")
                            i.icon-facebook
                    li
                        a(href="https://github.com/PauliusKK")
                            i.icon-github
                    li
                        a(href="https://plus.google.com/107375647115519033506/posts")
                            i.icon-google-plus

// START of SCRIPTS

// jQuery
script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js" defer)

// Bootstrap.js
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js", integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS", crossorigin="anonymous" defer)

// Isotope.js plugin
script(src="https://npmcdn.com/isotope-layout@3.0/dist/isotope.pkgd.min.js" defer)

// ImagesLoaded plugin to prevent images from overlapping
script(src="https://npmcdn.com/imagesloaded@4.1.0/imagesloaded.pkgd.min.js" defer)

// Main.js file.
script(src="/../js/main-dist.js" defer)

// END of SCRIPTS